    /* applys a fixed box model to each element making it easier for sizing elements */

    * {
        margin: 0;
        padding: 0;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        overflow-x: hidden;
    }

    body {
        font-size: 0.825em;
        color: #fcfcfc;
        background-color: #355664;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }

    a, a:visited {
        color: #0196e3;
        text-decoration: none;
        outline: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a img {
        border: none;
    }
    /* Headings: */

    h1, h2, h3 {
        font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
        text-shadow: 0 1px 1px black;
    }

    h2 {
        font-size: 2.2em;
        font-weight: normal;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }

    p {
        line-height: 1.5em;
        padding-bottom: 1em;
    }

    .line {
        height: 1px;
        background-color: #24404c;
        border-bottom: 1px solid #416371;
        margin: 1em 0;
        overflow: hidden;
    }

    article .line {
        background-color: #15242a;
        border-bottom-color: #204656;
        margin: 1.3em 0;
    }

    .clear:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    article {
        background-color: #213E4A;
        margin: 3em 0;
        text-shadow: 0 2px 0 black;
    }

    figure {
        float: right;
        border: 3px solid #142830;
        height: 300px;
        margin-left: 15px;
        overflow: hidden;
        width: 500px;
    }

    figure:hover {
        -moz-box-shadow: 0 0 2px #4D7788;
        -webkit-box-shadow: 0 0 2px #4D7788;
        box-shadow: 0 0 2px #4D7788;
    }

    figure img {
        margin-left: -60px;
    }

    .banner {
        width: 100%;
        margin: auto;
        position: relative;
    }

    .text {
        color: white;
        font: bold;
        background: rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
        top: 15%;
        left: 15%;
        position: absolute;
    }
    /* Media Queries */
    /* 1px + */

    @media screen and (min-width:0.0625em) {
        body {
            font-size: 100%;
        }
        #sidecontents {
            display: none;
        }
        #extracontents {
            display: block;
            width: 100%;
            margin: 0em 0em 0em 0em;
            font-size: 90%;
            font-style: normal;
        }
    }
    /* 550px + */

    @media screen and (min-width:34.375em) {
        h2 {
            font-size: 1.5em;
        }
    }
    /* 650px + */

    @media screen and (min-width:40.625em) {
        body {
            font-size: 100%;
        }
        aside {
            font-size: 100%;
        }
        #sidecontents {
            display: block;
        }
        #extracontents {
            display: none;
        }
        article {
            width: 100%;
        }
        #bodyfooter {
            width: 100%;
        }
    }
    /* 700px + */

    @media screen and (min-width: 43.75em) {
        body {
            font-size: 105%;
        }
    }
    /* 800px + */

    @media screen and (min-width:50em) {
        body {
            font-size: 107.5%;
        }
    }
    /* 900px + */

    @media screen and (min-width:56.25em) {
        body {
            font-size: 110%;
        }
        aside {
            font-size: 110%;
        }
    }
    /* 1500px + */

    @media screen and (min-width:93.75em) {
        body {
            font-size: 115%;
        }
        aside {
            font-size: 115%;
        }
    }
    /* 1800px + */

    @media screen and (min-width:112.5em) {
        body {
            font-size: 125%;
        }
        aside {
            font-size: 125%;
        }
    }
